In [2]:
print("hello world!")

hello world!

In [3]:
print(45*158)

7110

In [6]:
name = "abiodun"
print(name)

abiodun

In [7]:
#Data types in Python
print("abiodun goes to school")
print('Rukayat went to modrasat')

abiodun goes to school
Rukayat went to modrasat

In [8]:
print("jafar's bag is with me")

jafar's bag is with me

In [9]:
print(11)
print(11.5)

11
11.5

In [10]:
# Declaring a Variable
MyFirstVariable = 45
print(MyFirstVariable)

45

In [11]:
_45 = "jamal"
print(_45)

jamal

In [12]:
name = "jafar"
Name = "lukmon"
print(Name)

lukmon

In [13]:
firstNumber = 45
secondNumber = 25
print(firstNumber + secondNumber)

70

In [14]:
print(name)

jafar

In [ ]:
onOPen # camel casing
on_open # snake casing

In [1]:
num1 = 5
num2 = 9

sum = num1 + num2
print(sum)

14

In [4]:
Sub = num1 - num2
print(Sub)

-4

In [5]:
multi = num1 * num2
print(multi)

45

In [6]:
div = num1 / num2
print(div)

0.5555555555555556