In [2]:
my_dict = {
"name": "john", 
"age": 21,
"course": "math" "compsci"
    }
values = my_dict.values()

my_dict["grade"] = "A"
my_dict["age"] = 22

print(values)

dict_values(['john', 22, 'mathcompsci', 'A'])

In [2]:
my_dict = {
"name": "john", 
"age": 21,
"course": "math" "compsci"
}
keys = my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'course'])

In [3]:
my_dict = {
"name": "john", 
"age": 21,
"course": "math" "compsci"
}
name = my_dict["name"]

my_dict["grade"] = "A"
my_dict["age"] = 22

print(my_dict)

{'name': 'john', 'age': 22, 'course': 'mathcompsci', 'grade': 'A'}

In [4]:
my_dict = {
"apples":10,
"bananas":5,
"oranges":8
}
apples = my_dict.get("apples", "unknown")
print(apples)

10

In [5]:
my_dict = {
"apples":10,
"bananas":5,
"oranges":8
}
bananas = my_dict.pop("bananas", "unknown")
print(bananas)

5

In [ ]:
my_dict = {
"apples":10,
"bananas":5,
"oranges":8
}
keys = my_dict.keys()
print(keys)

In [6]:
my_dict = {
"apples":10,
"bananas":5,
"oranges":8
}
values = my_dict.values()
print(values)

dict_values([10, 5, 8])

In [7]:
my_dict = {"student1": {"name": "alice", "age": 20}}, {"student2": {"name": "bob", "age": 22}}
my_dict["student3":] = {"name": "chalie",'age': 23}

TypeError: 'tuple' object does not support item assignment

In [8]:
my_dict = {"student1": {"name": "alice", "age": 20}}, {"student2": {"name": "bob", "age": 22}}
print(my_dict)

({'student1': {'name': 'alice', 'age': 20}}, {'student2': {'name': 'bob', 'age': 22}})